.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--main-card-font-weight, 400);
  font-family: var(--main-font), sans-serif;
  background-attachment: fixed;
  background-image: var(--body-gradient);
  background-color: white;
}

.header {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  background-color: white;
  font-family: var(--accent-font);
  margin: 100px auto;
  inline-size: calc((700 / 1440) * 100vw);
  block-size: calc((368 / 960) * 100vh);
}

.header__logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  justify-content: center;
  gap: 50px;
}

.card {
  inline-size: calc((700 / 1440) * 100vw);
  border: 2px solid black;
  background-color: white;
  overflow: hidden;
}

.card__title {
  font-variation-settings: 'wght' var(--card-title-font-weight, 700);
  font-size: 18px;
  margin: 5px 10px ;
}

.card__image-container {
  position: relative;
  border: 2px solid black;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.card__logo {
  position: absolute;
  z-index: 2;
  inset-block-start: 25px;
  inset-inline-end: calc(25/696*100%);
  text-shadow: -1px 0 white, 1px 0 white, 0 -1px white, 0  1px white;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font);
  font-size: 14px;
}

@supports ((text-stroke: 1px white) or (-webkit-text-stroke: 1px white)) {
  .card__logo {
    -webkit-text-stroke: 1px white;
    text-stroke: 1px white;
    text-shadow: none;
  }
}

.card__image {
  object-fit: cover;
  object-position: right;
  inline-size: 100%;
  block-size: 100%;
}

.second-image {
  filter: grayscale(0.5);
}

.third-image {
  filter: saturate(4.5);
}

.fourth-image {
  filter: hue-rotate(50deg);
}

.fifth-image {
  filter: invert(1) brightness(0.9);
}

.sixth-image {
  filter: sepia(1);
}

.seventh-image {
  filter: blur(5px);
}

.eighth-image {
  filter: hue-rotate(90deg) opacity(0.7) blur(2px);
}

.card__description {
  border-top: 2px solid black;
  padding: 26px 25.85px 0 25px;
  font-size: 18px;
  line-height: 21px;
}

.card__description p:first-child {
  margin-block-end: 27px;
}

.card__controls {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
  padding: 25px;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid black;
  cursor: pointer;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 0.9;
}

.card__icon-button {
  inline-size: 39px;
  block-size: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}